* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header {
  align-items: center;
  background-color: black;
  display: flex;
  justify-content: space-around;
  height: 125px;
}

.header-logo {
  align-items: center;
  background-color: brown;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  height: 70px;
  width: 70px;
}

.header-title {
  color: aliceblue;
  font-size: larger;
  font-weight: bold;
}

footer {
  align-items: center;
  background-color: black;
  bottom: 0;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  position: fixed;
  width: 100%;
}
