<div class="card" style="width: 18rem">
  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeKAZ1BkYu4kTpTAdspz_jVMIhE0poWHQNg-Xu4qxqpk82WLHh-mrJJslEksENVIknN3c&usqp=CAU"
    class="card-img-top"
    alt="Dwight Schrute"
  />
  <div class="card-body">
    <h4 class="character-name">Dwight Kurt Schrute III</h4>
    <h5 class="actor-name">Rainn Wilson</h5>
    <p class="description">
      Dwight Kurt Schrute III é um personagem fictício em The Office e é
      interpretado pelo ator americano Rainn Wilson. O personagem de Dwight era
      um vendedor e assistente do gerente regional, na empresa fictícia de
      distribuição de papel, Dunder Mifflin, antes de suas promoções em
      temporadas posteriores.
    </p>
  </div>
</div>
